<div class="container-fluid w-25 mt-5">
  <form action="/courses" method='post'>
    <div class="form-group">
      <input type="text" class="form-control" id="course_name" name=course[name] aria-describedby="emailHelp" placeholder="Enter Course">
      <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
    </div>
    <div class="form-group">
       <% options = option_groups_from_collection_for_select(Course.includes(:children).order(:parent_id).all,:children, :name, :id, :name, 5) %>
      <%#= select (:course, :parent_id,options, include_blank: true ) %>
      <%= select('course[children_attributes]', :parent_id, options, 
  include_blank: true) %>
      <small>Leaving blank will create Category</small>
    </div>
    <div class="form-group">
       <textarea type="textarea" id="course_description" name=course[description] class="form-control" id="description" aria-describedby="emailHelp" placeholder="Enter Desciption"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>