<div class='container-fluid mt-4 courses'>
  <% if !@user_courses.blank? %>
    <% @user_courses.each do |course| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= course.name %></h5>
        <p class="card-text"><%= course.description%></p>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>No Courses Available.</p>
  <% end %>
</div>