<div class="container-fluid w-25 mt-5">
  <%= form_tag(enrollments_path, method: "post") do %>
  <div class="form-group">
      <input type="text" name="" class="form-control" id="course_name" value=<%= current_user.name %>> 
    </div>
    <div class="form-group">
      <input type="text" name="" class="form-control" id="course_name" value=<%= current_user.email %>> 
    </div>
    <div class="form-group">
      <input type="text" name="course_name" class="form-control" id="course_name" value=<%= @course.name %> readonly>
      <input type="hidden" name="course_id" value=<%= @course.id %> > 
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="course_category" value=<%= @course.parent.try(:name)%> readonly> 
    </div>
    <div class="form-group">
     <button type="submit" class="btn btn-primary float-right">Enroll</button>
    </div> 
  <% end %>
</div>