<div class='container-fluid mt-4 courses'>
  <% if !@courses.blank? %>
    <% @courses.each do |course| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= course.name %></h5>
        <p class="card-text"><%= course.description%></p>
        <%= link_to 'Available Courses', course, class: 'btn btn-outline-primary my-2 my-sm-0' %>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>No Courses Available.</p>
  <% end %>
</div>