<div class='container-fluid mt-4 courses'>
  <% if !@category_courses.blank? %>
    <% @category_courses.each do |course| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= course.name %></h5>
        <p class="card-text"><%= course.description %></p>
        <% if course.children.present? && course.parent.present? %>
          <%= link_to 'Available Courses', course, class: 'btn btn-outline-primary my-2 my-sm-0' %>
           <%#= link_to 'Enroll', enroll_path(course_id: course.id), class: 'btn btn-sm btn-success' , method: :post %>
           <%#= link_to 'Register', register_path(course_id: course.id), class: 'btn btn-sm btn-success' %>

        <% elsif current_user.enrollments.map(&:course_id).include?(course.id) %> 
          <button type="button" class="btn btn-secondary" disabled>Enrolled</button>
        <% else %>   
         <%= link_to 'Register', register_path(course_id: course.id), class: 'btn btn-sm btn-success' %></li>
        <% end %>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>No Courses Available.</p>
  <% end %>