// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#navbarTogglerDemo01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#course_parent_id {
  width: 23vw;
  height: 35px;
  border-radius: 3px;
  border-color: 1px light #495057;
}

